[Desktop Entry]
Type=Application
Exec=google-chrome --restore-last-session --no-first-run --no-default-browser-check
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Google Chrome Restore
Comment=Open Chrome and restore last session
